<div class="accordion" id="accordionExample">

    <div class="card my-2 mx-2 " *ngFor="let category of key, let i = index " >
      <div class="card-header imgheader " id="headingOne" >
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left font-italic text-capitalize imgtext px-5" style="height: 100%" type="button" data-toggle="collapse" attr.data-target="#collapse_{{i}}" aria-expanded="false" attr.aria-controls="collapse_{{i}}">
             <h2 >{{category}}</h2>
          </button>
        </h2>
      </div>
  
      <div attr.id="collapse_{{i}}"  class="collapse " attr.aria-labelledby="heading_{{i}}" data-parent="#accordionExample">
        <div class="card-body " >
            <!-- <div *ngFor="let dish of categorySort[category]">
                <div class="card">
                    <div class="card-body">
                        {{dish.dishName}}
                    </div>
                  </div> -->
                  <div class="row card-group">
                      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 my-2"  style= "padding: 0% 0.5%;" *ngFor="let dish of categorySort[category]; let j=index;">
                          <div class="card dishcard" [class.disablecard]=" !dish.availability " >
                              <img src="https://static.pexels.com/photos/5928/salad-healthy-diet-spinach.jpg" class="card-img-top" alt="...">
                              <div class="card-body " style="padding: 4%">
                                <span *ngIf="dish.vegNonVeg=='veg'" class="badge badge-success float-right " >Veg</span>
                                <span *ngIf="dish.vegNonVeg=='nonveg'" class="badge badge-danger float-right " >Non veg</span>
                                <h6 class="card-title font-italic text-capitalize">{{dish.dishName}}</h6>
                                <p class="card-text font-weight-light">Some quick example text to build on the card title </p>
                                <div class="row">
                                    <p class="col-6">&#x20b9; 95 </p>
                                    <input type="number" [disabled]="!dish.availability" class="form-control form-control-sm col-4 offset-1" id="formGroupExampleInput" placeholder="1">
                                </div>
                                <button type="button" [disabled]="!dish.availability" class="btn btn-outline-primary btn-circle btn-sm col-12 auto" >Add to Cart
                                    <svg class="bi bi-cart-plus icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z"/>
                                      <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z"/>
                                      <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                    </svg>
                                  </button>
                              </div>
                            </div>
                      </div>
                  </div>
                  <!--  -->
              <!-- </div>  -->
        </div>
      </div>
    </div>

</div>





